body {
  background: grey;
  font-family: sans-serif;
  margin-left: 5px; }
  body a {
    color: blue;
    text-decoration: none; }
  body li {
    list-style: none; }
  body a:visited {
    color: blue; }
  body list {
    float: left;
    clear: both; }
  body .price {
    padding-left: 20px; }
  body .header ul {
    margin: 0;
    padding: 0; }
  body .header a {
    color: #013D16;
    font-size: 3em;
    display: inline-block;
    padding-right: 10px; }
  body .picker a {
    float: left;
    display: inline-block;
    padding-right: 5px; }
